<div id="posts">
  <% posts.forEach(function(post) { %>
    <div class="post">
      <div class="post-header">
        <span class="post-name"><%= post.firstname + ' ' + post.lastname %></span> <span class="timeago" datetime="<%= moment(post.createdat).format(dateLongFormat) %>"><a href="/post/<%= post.postid %>"><%= moment(post.createdat).fromNow(); %></a></span>
      </div>
      <div class="post-content">
        <%= post.content %>
      </div>
      <div class="likes-count">
          <% if (post.likecount === 1) { %>
          There is 1 like
          <% } else { %>
          There are <%= post.likecount %> likes
          <% } %>
          <a href="/post/like/<%= post.postid %>">
            <% if (post.liked) { %>
            Unlike
            <% } else { %>
            Like
            <% } %>
          </a>
      </div>
      <div class="comments-count">
        <a href="/post/<%= post.postid %>">
          <% if (post.commentcount === 1) { %>
          There is 1 comment
          <% } else { %>
          There are <%= post.commentcount %> comments
          <% } %>
      </a>
      </div>
    </div>
  <% }) %>
</div>
