<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('_head', {title: 'Edit Profile'}) %>
  </head>
  <body>
    <% include _logo.ejs %>

    <h2>Update your profile</h2>

      <form id="editprofileform" action="/user/update/<%= userDetails.userid %>" method="post">
        <input type="text" name="firstName" value="<%= userDetails.firstname %>" required><br>
        <input type="text" name="lastName" value="<%= userDetails.lastname %>" required><br>
        <input type="email" name="email" value="<%= userDetails.email %>" required><br>
        <input type="date" name="dob" value="<%= userDetails.dob %>" required><br>
        <input type="text" name="profilepictureurl" value="<%= userDetails.profilepictureurl %>"><br>
        <input type="submit" value="submit">
      </form>

  </body>
</html>
