<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta charset="utf-8">
    <title>Acebook</title>
  </head>
  <body onload="updateTimes()">
    <h1><img src="/images/ace-of-spades.png" height="46" width="46" alt="">Acebook</h1>

    <h2><%= userDetails.firstname + ' ' + userDetails.lastname %>'s profile</h2>

    <div id="profile">

      <div id="profilepic">
        <img src="<%= userDetails.profilepictureurl %>" height="200" width="200">
      </div>

      <div id="profiledetails">
        <div id="profileemail">Email: <a href="mailto:<%= userDetails.email %>"><%= userDetails.email %></a></div>
        <div id="profiledob">Date of birth: <%= moment(userDetails.dob).format(dateShortFormat) %></div>
        <div id="profilejoined">Member since: <%= moment(userDetails.createdat).format(dateShortFormat) %></div>
      </div>

    </div>

    <h2>Most recent posts</h2>

    <% include _posts.ejs %>

  </body>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.23.0/moment.min.js" type="text/javascript"></script>
  <script src="/js/updateTimes.js" type="text/javascript"></script>
</html>
